body {
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.w3ZnQu0ejqCVyvcnNIO_pAHaEK&pid=Api&P=0&h=220');
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .stopwatch {
    font-size: 3em;
    margin-bottom: 20px;
    color: azure;
  }
  
  .controls button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    color: blue;
    background-color: darkkhaki;
  }
  